Repository gianluca-mascolo/sudoku-solver: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-flake8, poetry-isort, poetry-black

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: sh -c 'poetry check'
  language: system
  pass_filenames: false

poetry-flake8:
  name: poetry-flake8
  description: run poetry flake8
  entry: sh -c 'poetry run flake8 .'
  language: system
  pass_filenames: false

poetry-isort:
  name: poetry-isort
  description: run poetry isort
  entry: sh -c 'poetry run isort .'
  language: system
  pass_filenames: false

poetry-black:
  name: poetry-black
  description: run poetry black
  entry: sh -c 'poetry run black .'
  language: system
  pass_filenames: false

grid with inputs
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black

click event
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black

fix range
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black

empty board
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black

assemble tui
  pyproject.toml
  sudoku_solver/sudoku.py
  sudoku_solver/sudokulib.py
  sudoku_solver/sutui.py
  sudoku_solver/test_sudoku.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

x
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

cleanup
  hello/compound.py
  hello/hello.css
  hello/hello.py
Due: none

cleanup
  sudoku_solver/sutui.css
Due: none

cleanup
  samples/sudoku1.txt
  samples/sudoku2.txt
  samples/sudoku3.txt
  samples/sudoku4.txt
  samples/sudoku5.txt
  samples/sudoku6.txt
  samples/sudoku7.txt
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

cleanup
  s.txt
Due: none

cleanup
  docs/sudoku_cell_disposition.png
Due: none

global grid
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

add loader
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

implement load screen
  .isort.cfg
  sudoku_solver/sudoku.py
  sudoku_solver/sudokulib.py
Due: poetry-flake8, poetry-isort, poetry-black

message
  sudoku_solver/sudoku.py
  sudoku_solver/sudokulib.py
Due: poetry-flake8, poetry-isort, poetry-black

add sample
  samples/sudoku8.txt
Due: none

add comments
  sudoku_solver/sudokulib.py
Due: poetry-flake8, poetry-isort, poetry-black

implement hidden pairs
  .flake8
  sudoku_solver/sudokulib.py
Due: poetry-flake8, poetry-isort, poetry-black

comments
  sudoku_solver/sudokulib.py
Due: poetry-flake8, poetry-isort, poetry-black

claude init
  CLAUDE.md
Due: none

bump textual to 0.89
  poetry.lock
  pyproject.toml
  sudoku_solver/sudoku.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

bump textual to 5.0.1
  pyproject.toml
Due: poetry-check

fix pyproject
  .flake8
  .isort.cfg
  poetry.lock
  pyproject.toml
Due: poetry-check

fix exit status
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

format
  .flake8
  pyproject.toml
  sudoku_solver/sudoku.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

implement save sudoku
  CLAUDE.md
  samples/sudoku9.txt
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  poetry-flake8: any of: ^sudoku_solver/ and \.py$
  poetry-isort: any of: ^sudoku_solver/ and \.py$
  poetry-black: any of: ^sudoku_solver/ and \.py$
