Repository gianluca-mascolo/sudoku-solver: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-flake8, poetry-isort, poetry-black

.pre-commit-config.yaml:

# Note: this file does nothing unless you install pre-commit hooks locally
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: sh -c 'poetry check'
        language: system
        pass_filenames: false
        files: ^pyproject.toml$
    -   id: poetry-flake8
        name: poetry-flake8
        description: run poetry flake8
        entry: sh -c 'poetry run flake8 .'
        language: system
        pass_filenames: false
        files: ^sudoku_solver/
        types: [file, python]
    -   id: poetry-isort
        name: poetry-isort
        description: run poetry isort
        entry: sh -c 'poetry run isort .'
        language: system
        pass_filenames: false
        files: ^sudoku_solver/
        types: [file, python]
    -   id: poetry-black
        name: poetry-black
        description: run poetry black
        entry: sh -c 'poetry run black .'
        language: system
        pass_filenames: false
        files: ^sudoku_solver/
        types: [file, python]

test precommit
  old/old_sudoku.py
Due: none

flake8
  .flake8
Due: none

update precommit
  .flake8
  .pre-commit-config.yaml
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

config isort
  .isort.cfg
Due: none

add full check
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

write tests
  Makefile
  poetry.lock
  pyproject.toml
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

add setup to makefile
  Makefile
Due: none

implement load sudoku
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

improve load function
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

change sudoku repr struct
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

change print error
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

use line and column in comparison
  .pre-commit-config.yaml
  Makefile
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

load sudoku file
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

configure black
  .pre-commit-config.yaml
  pyproject.toml
  sudoku_solver/sudoku.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

add functions for unique numbers and neighbors
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

add checklist class
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

debugging
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

rewrite unique management and removing pivot list
  sudoku_solver/sudoku.py
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

format print info
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

rewrite load function
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

simplify check valid function
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

a total mess, but it works
  sudoku_cell_disposition.png
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

map reduce and combine
  .flake8
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

simplify print
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

remove list elements, calculate len
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

remove unused functions
  .flake8
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

reformat neighbor
  .flake8
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

try and guess twins
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

remove old work
  old/old_sudoku.py
  old/old_sudoku_functions.py
Due: none

fix tests
  sudoku_solver/test_sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

recurse sudoku
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

fix recursion depth
  sudoku4.txt
  sudoku5.txt
  sudoku6.txt
  sudoku7.txt
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

improve depth and retries
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

control depth
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

use args for input file.
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

types
  sudoku_solver/sudoku.py
Due: poetry-flake8, poetry-isort, poetry-black

let's play around with widgets
  poetry.lock
  pyproject.toml
  sudoku_solver/sudoku.py
  sudoku_solver/sutui.py
Due: poetry-check, poetry-flake8, poetry-isort, poetry-black

experiments
  hello/compound.py
  hello/hello.css
  hello/hello.py
  sudoku_solver/sutui.css
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black

grid
  sudoku_solver/sutui.py
Due: poetry-flake8, poetry-isort, poetry-black
